.fullScreenContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
}

.gameScreen {
  width: var(--game-viewport-width);
  height: var(--game-viewport-height);
  transform: scale(var(--pixel-size));
}